<%- include("./partials/_header.ejs") %>

  <!-- Navigation -->
  <%- include("./partials/_navigation.ejs") %>

  <!-- Page Header -->
  <header class="masthead">
    <div class="overlay" ></div>
    <div class="container" >
      <div class="row" >
        <div class="col-lg-8 col-md-10 mx-auto" style="background-image: url('../public/img/node.jpg')">
          <div class="post-heading" >
            <h1><Man must explore, and this is exploration at its greatest></h1>
            <h2 class="subheading"><%= post.title %></h2>
            <span class="meta">Posted by
              <b><i> <a href="https://www.linkedin.com/in/azizozkrcdg"><%= post.creator %></a></i></b>
              on <%= post.dateCreated %></span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Post Content -->
  <article>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <%= post.post_text %>
        </div>
      </div>
    </div>
  </article>

  
    
      <div style="margin-top: 100px;;" class="tm-bg-gray tm-share-box">
        <div class="text-center">
          <a style=" border-radius: 10px;" href="/posts/edit/<%= post._id %>" class="btn btn-outline-primary mb-3"><span>Update Post</span></a>	
        </div>	
        <div class="text-center">
          <a href="/posts/<%= post._id %>?_method=DELETE" style=" border-radius: 10px;" onclick="return confirm('Are you sure?')" class="btn btn-outline-danger"><span>Delete Post</span></a>	
        </div>								
      </div>
    
  

  <hr>

  <!-- Footer -->
  <%- include("./partials/_footer.ejs") %>